<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Smack Talk</title>
  <link rel="stylesheet" href="../css/foundation.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

  <div id="nav">
    <!--<img src="images/nav_lg.jpg" />-->
  </div>

  <div id="home" class="row">
    <div class="large-12 columns">
      <img src="images/home_copy.png" />
      <p class="text">You are the king of fantasy football. Make sure your friends know it by posting personalized, animated smack talk to their Facebook pages and more. Courtesy of DIRECTV FANTASY ZONE™ on DIRECTV’s NFL SUNDAY TICKET MAX.</p>

      <p class="link">Click or scroll to Talk Smack</p>
      <a class="btn-scroll"><img src="images/btn_scroll.png" /></a>
    </div>
  </div>

  <div id="accordion">

    <h3 class="one"><span>1.</span> Who are you Smack</h3>
    <div id="step-1" class="one">
      <form id="theform" action="/talksmack" method="post">
        <label for="username">Enter Friend's Name:</label><br />
        <input type="text" name="username"><br />
        <input class="btn-name" value="Talk Smack to a friend">
    </div>

    <h3 class="two">2. Choose a GIF</h3>
    <div id="step-2" class="two">
        <div class="images">

          <ul>
            <li class="a-gif">
              <input type="radio" name="image" value="leehaw" id="leehaw">
              <label for="leehaw"><img src="images/leehaw.gif" alt="leehaw"></label>
            </li>

            <li class="a-gif">
              <input type="radio" name="image" value="homer" id="homer">
              <label for="homer"><img src="images/homer.gif" alt="homer"></label>
            </li>
          </ul>
        </div>

        <div class="messages">

          <p>Choose your trash talk</p>
          <div id="leehaw" class="msgs active">
            <input type="radio" name="msg" value="you ride again 1"> you ride again 1<br />
            <input type="radio" name="msg" value="you ride again 2"> you ride again 2<br />
            <input type="radio" name="msg" value="you ride again 3"> you ride again 3<br />
          </div>

          <div id="homer" class="msgs">
            <input type="radio" name="msg" value="you bang again 1"> you bang again 1<br />
            <input type="radio" name="msg" value="you bang again 2"> you bang again 2<br />
            <input type="radio" name="msg" value="you bang again 3"> you bang again 3<br />
          </div>
        </div>

        <input class="btn-img" type="submit" value="Generate GIF">
      </form>
    </div>

    <h3 class="three">3. Send Your Samck Talk</h3>
    <div id="step-3" class="three">
      <p>GENERATE GIF</p>
      <img src="images/spinner.gif" />
    </div>
  </div>

  <div id="footer">
    <div class="row">
      <div class="large-6 columns left">
        Smack talk made possible by Directv’s NFL Sunday Ticket
      </div>
      <div class="large-6 columns right">
        <a href="#">Learn about NFL Sunday Ticket  ></a>
        <img src="images/nfl_logo.png" />
      </div>
    </div>
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../js/foundation.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    var wh = $(window).height() - 78;
    $('#home, #accordion').css("height", wh);

    $(".btn-scroll").click(function(){
      $("#home").slideUp('slow');
      $("#accordion").slideDown('slow');
    });

     $(window).scroll(function() {
        $("#home").slideUp();
        $("#accordion").slideDown();
     });

    $("#accordion").accordion({
      heightStyle: "content"
    });

    $(".images input").click(function(){
      var value = $(this).val();

      $(".msgs").hide();
      $(".msgs").removeClass("active");

      $(".messages #" + value).show();
      $(".messages #" + value).addClass("active");

      $(".messages").css("opacity", 1);
    });

    $('.btn-name').click(function(){
      $('#step-1').slideUp();
      $('#step-2').slideDown();
    });

    $('.btn-img').click(function(e){
      e.preventDefault();
      $('#step-2').slideUp();
      $('#step-3').slideDown();

      var data = $( "#theform" ).serialize();

      $.ajax({
        type: "POST",
        url: "/talksmack",
        data: data
      })
      .done(function( data ) {
        var response = JSON.parse(data);
        $("#step-3").html('<img src="' + response.gifUrl +  '">');
      });

    });


  });
</script>
</body>
</html>